{% extends "base.html" %} {% block title %} Portfolio {% endblock %} {% block
main %}
<div class="card mb-4">
  <div class="card-header">
    <h5 class="mb-0">Account Summary</h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6">
        <h6 class="card-title mb-0">Cash Left:</h6>
        <p class="display-5">{{ cash | usd }}</p>
      </div>
      <div class="col-sm-6">
        <h6 class="card-title mb-0">Total P&L:</h6>
        <p class="display-5">{{ pnl | usd }}</p>
      </div>
    </div>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-end">Quantity</th>
      <th class="text-end">Price/Share</th>
      <th class="text-end">Total Value</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for share in shares %}
    <tr>
      <td class="text-start align-middle">{{ share["symbol"] }}</td>
      <td class="text-end align-middle">{{ share["quantity"] }}</td>
      <td class="text-end align-middle">{{ share["price"] | usd }}</td>
      <td class="text-end align-middle">{{ share["total_value"] | usd }}</td>
      <td class="text-center">
        <form
          method="POST"
          action="/buy"
          class="d-inline-flex align-items-center me-4"
        >
          <input type="hidden" name="symbol" value="{{ share['symbol'] }}" />
          <input
            type="number"
            name="quantity"
            min="1"
            step="1"
            required
            class="form-control form-control-sm me-2"
            style="width: 60px"
          />
          <button class="btn btn-success btn-sm" type="submit">Buy</button>
        </form>
        <form
          method="POST"
          action="/sell"
          class="d-inline-flex align-items-center"
        >
          <input type="hidden" name="symbol" value="{{ share['symbol'] }}" />
          <input
            type="number"
            name="quantity"
            min="1"
            max="{{ share['quantity'] }}"
            step="1"
            required
            class="form-control form-control-sm me-2"
            style="width: 60px"
          />
          <button class="btn btn-danger btn-sm" type="submit">Sell</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
